*{
    margin: 0;
    padding: 0;
}



#hiddenContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
#hiddenContent.show {
    max-height: 17rem;
}

a{
  -webkit-tap-highlight-color: transparent;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%; 
    background-color: #1D1F1E;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}
.language-div {
    display: inline-block;
    position: relative;
}

.language-dropdown {
    width: 150px;
    background-color: #2C2C2C;
    color: #E0F3ED;
    cursor: pointer;
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
    transform: translateY(-50%);
}

.language-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #E0F3ED;
    max-height: 100px;
    overflow-y: auto;
    background-color: #2C2C2C;
    display: none;
    padding-left: 1rem;
}

.language-option {
    padding: 5px;
    cursor: pointer;
}

.language-option:hover {
    background-color: #f0f0f0;
}

.languages_drop_active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#date{
    border-width: medium;
    padding: 3px;
    width: 13rem;
    padding-left: 14px;
    border-radius: 37px;
    text-align: center;
    background-color: #DEE6E4;
}
.a{
    position: relative;
    top: -50px;
}
#bus{
    border-width: medium;
    padding: 4px;
    width: 13rem;
    padding-left: 14px;
    border-radius: 37px;
    text-align: center;
    margin-left: 41rem;
    display: flex;
    justify-content: center;
    color: #60C2A2;
    display: flex;
    z-index: 1;
    margin-top: 5rem;
}




#bag {
    display: none; Initially hide the bag section
}


@media only screen and (max-width:700px){
    #bus{
        margin-left:6rem;
    }
  }


 