:root {
	--size-wheel: 25rem;
}

html {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

body {
  width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: rgb(17, 15, 15);
  overflow-y: 0;
  overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.msg {
	min-height: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0.5rem;
	text-transform: capitalize;
}

ul {
	position: relative;
	padding: 0;
	margin: 1rem 0;
	width: 21rem;
	/* height: var(--size-wheel); */
  height: 21rem;
	border: 8px solid #62C4A4;
	border-radius: 50%;
	list-style: none;
	overflow: hidden;
	transition: cubic-bezier(0.075, 0.8, 0.2, 1) 7s;
}

span {
	display: inline-block;
	position: relative;
	padding: 0.5rem;
}

span::before {
	content: '';
	position: absolute;
	top: 0rem;
	left: 50%;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 3rem solid #e70f0c;
	z-index: 2;
	transform: translateX(-50%);
	animation: arrow ease-out 0.6s infinite;
}

@keyframes arrow {
	0% {
		top: -2rem;
	}
	80% {
		top: 0;
	}
	100% {
		top: -1.5rem;
	}
}

span::after {
	content: '';
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #62C4A4;
	border-radius: 50%;
}

li {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: -100%;
	width: 200%;
	height: 200%;
	display: block;
	text-align: center;
	padding-top: 1.7rem;
	font-weight: 600;
	color: #ffffffde;
}

.text > b {
	display: inline-block;
	word-break: break-word;
	/* max-width: 35%;/ */
  transform: rotate(90deg);
  padding: 5%;
}

.text-1 {
	background-color:#62C4A4;
}

.text-2 {
	background-color:;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	display: inline-block;
	text-align: center;
	border: 0;
	background-color: #333;
	color: #60C2A2;
	font-size: 1.5rem;
	border-radius: 4rem;
	padding: 0.5rem 1.5rem;
	width: 13rem;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 16px 3px;
}

button:hover {
	opacity: 0.8;
}
.img2{
	bottom: 28.5rem;
    position: absolute;
    z-index: 999;
    top: 21remrem;
    left: 32.8rem;
    opacity: .5;
    width: 44px;
}
.img1{
	position: absolute;
    left: 35.4remrem;
    z-index: 1;
    bottom: 29rem;
}